<p style="color: green"><%= notice %></p>

<h1><%= @course.coding_class.title %></h1>
<p><strong>Course Term:<strong><%= @course.trimester.term %> - <%= @course.trimester.year %></p>

<h2>Enrolled Students</h2>
<ul>
  <% @course.students.each do |student| %>
    <li><%= student.first_name %> <%= student.last_name %>  </li>
  <% end %>
</ul>

<ul>
  <% @course.enrollments.each do |enrollment| %>
    <li><%= enrollment.student.first_name %><%= enrollment.student.last_name %>  </li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>
