<h1>Trimester for <%= @trimester.id %></h1>

<p>
  <strong>Term: </strong><%= @trimester.term %><br>
  <strong>Year: </strong><%= @trimester.year %><br>
  <strong>Start: </strong><%= @trimester.start_date %><br>
  <strong>End: </strong><%= @trimester.end_date %><br>
  <strong>Application Deadline: </strong><%= @trimester.application_deadline %><br>
</p>

<p><a href="/trimesters">Back to Trimesters List</a></p>
